.footer {
  background-color: var(--light-background-color);
  padding: 1.5rem 20px;
  margin-top: 2rem;
  border-top: 1px solid #6a6a6a54;
  
  @media (max-width: 576px) {
    padding: 1.2rem 20px;
  }
}

.minimal-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.footer-logo {
  font-weight: 600;
  font-size: 1.2rem;
}

.footer-links {
  display: flex;
  gap: 1.5rem;
  
  @media (max-width: 576px) {
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.footer-links a {
  color: #555;
  text-decoration: none;
  transition: color 0.2s;
}

.footer-links a:hover {
  color: #007bff;
}

.footer-copyright {
  font-size: 0.9rem;
  color: #777;
}